<html>

<body style="
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        ">
    <div style="
                width: 100%;
                background: #efefef;
                border-radius: 10px;
                padding: 10px;
            ">
        <div style="margin: 0 auto; width: 90%; text-align: center">
            <div style="
                        background-color: #464646;
                        padding: 5px 10px;
                        color: white;
                    ">
                <img src="https://www.domain.com/img/logo.png" alt="logo vic-os" style="height: 50px" />
            </div>
            <div style="
                        height: 6px;
                        background-color: #ffba00;
                        margin-top: 5px;
                        box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
                    "></div>
            <div style="
                        margin: 30px auto;
                        background: #6b6b6b;
                        width: 40%;
                        border-radius: 10px;
                        padding: 50px;
                        text-align: center;
                        color: white;
                    ">
                <h3 style="margin-bottom: 100px; font-size: 24px">
                    Bem vindo
                    <span style="color: #ffba00">{{name}}</span>!
                </h3>
                <p style="margin-bottom: 10px; font-size: 14px">
                    O seu cadastro foi realizado com sucesso.
                </p>
                <p style="margin-bottom: 10px; font-size: 14px">
                    Esse endereço de e-mail deve ser usado para fazer o
                    login no sistema
                </p>
                <p style="margin-bottom: 30px; font-size: 14px">
                    <strong>VIC-OS.</strong>
                </p>
                <p style="margin-bottom: 30px; font-size: 14px">
                    Clique no link abaixo para cadastrar sua senha.
                </p>
                <a style="
                            display: block;
                            margin: 0 auto;
                            border: none;
                            background-color: #ffba00;
                            color: white;
                            width: 300px;
                            line-height: 24px;
                            padding: 15px;
                            font-size: 24px;
                            border-radius: 10px;
                            cursor: pointer;
                            text-decoration: none;
                        " href={{url}} target="_blank">
                    Cadastrar Senha
                </a>
            </div>
        </div>
    </div>
</body>

</html>
